<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <!-- How should snippets get decorated?           
            Default: color:black, text-decoration:underline
            -->
            <setting name="Snippet.Style" value="color:black;text-decoration:underline"/>
            <!-- should RTE fields in the live site be explored for snippets?
             changes to the "source" of the snippet will not be rendered
            Default: false
            -->
            <setting name="Snippet.DoNotExpandInLiveSite" value="false"/>

            <!-- Item that should appear at the root of the snippets selection tree
            Default: /sitecore/content/home
            -->
            <setting name="Snippet.SnippetDialogRoot" value="/sitecore/content/home"/>
        </settings>
        
        <fieldTypes>
            <fieldType name="Rich Text">
                <patch:attribute name="type">Sitecore.Labs.Snippets.CustomHtmlField,Sitecore.Labs.Snippets</patch:attribute>
            </fieldType>
        </fieldTypes>

        <pipelines>
            <renderField>
                <processor type="Sitecore.Labs.Snippets.ExpandSnippets,Sitecore.Labs.Snippets" patch:before="processor[@type='Sitecore.Pipelines.RenderField.AddBeforeAndAfterValues, Sitecore.Kernel']" />
            </renderField>
        </pipelines>
  
        <commands>            
            <command name="Snippets:ShowReferrersCommand" type="Sitecore.Labs.Snippets.ShowReferrersCommand,Sitecore.Labs.Snippets"/>
        </commands>

        <processors>
            <saveUI>
                <processor type="Sitecore.Labs.Snippets.SaveSnippetProcessor,Sitecore.Labs.Snippets" patch:before="processor[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" />
            </saveUI>
        </processors>
    </sitecore>
</configuration>
